<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Second question</title>
</head>
<body>
    <p> "Hello, Welcome to the Sign up Page" </p>
    <p> Today is a {{day_of_week}}</p> 
    <p> Date is {{ today_date }}</p> 
    <p> Current time is {{ current_time }}</p>  
    
</body>
<style>
    body {
        background-color: blanchedalmond;
    }
    p {
        text-align: center;
        font-size: 30px;
        font-style: italic;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(20, 23, 14);
    }

    .centred {
        font-size: 20px;
        text-align: center;
        margin: auto;
        width: 65;
        font-family: 'Times New Roman', Times, serif;
        color: black;
        padding: 10px;

    }
</style>
</html>